<h2>Here's a list of pets. Some need adoption. Others may already have owners. Feel free to add new users and pets, and adopt away!!</h2>
<table>
	<tr>
		<th>Name:</th>
		<th>Breed:</th>
		<th>Modify Pet:</th>
		<th>Owned?</th>
		<th>By Whom?</th>
	</tr>
<% @pets.each do |t| %>

	<tr>
		 <td><%= link_to t.name, pet_path(t) %></td>
		 <td><%= link_to t.breed, "http://www.google.com/search?ie=UTF-8&q=#{t.breed}" %></td>
		 <td><%= link_to "edit", edit_pet_path(t.id) %>| <%= link_to "Euthanise", pets_destroy_path(t.id) %></td>
		 <td><% if t.user%>
		 			yes
		 		<%else %>
		 			no
		 		<% end%></td>
		 <td><%if t.user %>
		 		<%=t.user.first_name %>
			 <% else %>
				:(
			<% end %>
		 	</td>


	</tr>
<%end%>

</table>
