<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    First Name: <%= f.text_field :first_name %> <br>
    Last Name: <%= f.text_field :last_name %> <br>
    Email: <%= f.email_field :email %> <br>
    Password: <%= f.password_field :password %><br> 
    <%= f.submit %>
  </div>
<% end %>
